/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#main-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    background-color: white;
    img{
        width: 15%;
    }
}

#header-btns{
    display: flex;
    align-items: center;
    gap: 15px;
}

#main-image{
    background-image: url("../images/landing.jpg");
    color: white;
    text-align: center;
    padding: 25%;
    background-size: cover;
    margin-bottom: 20px;
    h1{
        margin-bottom: 20px;
    }
}

#container{
    padding: 20px;
}

#whats-spotify{
    text-align: center;
    margin-bottom: 30px;
    h3{
        margin-bottom: 20px;
        text-decoration: underline #00B172 2px;
    }
}

#section-container{
    display: flex;
}

.spoty-section{
    h4{
        margin-bottom: 10px;
        color: #00B172;
    }
    img{
        width: 40%;
        height: 50%;
    }
}

#kanye-west{
    background-color: #00B172;
    background-image: url("../images/spotify-icon-white.png");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    color: white;
    h3, h4{
        margin-bottom: 20px;
    }
    h4{
        margin-top: 20px;
    }
    h3{
        text-decoration: underline 2px;
    }
}

#kanye-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    img{
        width: 70%;
    }
}